html{
    background-color: rgb(196, 200, 250);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.a{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    align-items: center;   
}

.a h1{
    text-align: center;
    padding: 10px;
}

.a img{
    width: 300px;
    height: 300px;
}

.b, .b img{
    padding: 10px;
}
.b img{
    width: 150px;
    height: 150px;
}

.c{
    padding: 10px;
}
.c img{
    width: 150px;
    height: 95px;
}

.parrafo{
    display: inline-flex;
    align-items: center;
}

.parrafo p{
    padding: 10px;
    text-align: justify;

}